/*
  Author: Amsal Karic
  www.amsalkaric.com
*/

/*
 * Globals
 */

body {
  font-family: 'Cormorant Garamond', serif;
  color: #555;
  font-size: 16px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  color: #333;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
}

img:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 50px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}


/*
 * Sidebar modules for boxing content
 */

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/*
 * Breadcrumb
 */
.breadcrumbs {
  margin-bottom: 20px;
}

/*
 * Blog posts
 */

.blog-post
 {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.row-single {
  margin-top: 30px;
}
.post-image {
  margin-bottom: 20px;
}


/*
 * Filing section
 */

.file-footer {
  margin-top: 20px;
}
.file-categories,
.file-tags {
  display: block;
}


/* 
 * Pagination
 */

.pager {
  margin-bottom: 60px;
  text-align: left;
}

.archive-pagination,
.entry-pagination {
  clear: both;
}

.archive-pagination li {
  display: inline;
}

.pager a, 
.pager span {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 10px;
}

.pager a:hover,
.pager span.current {
  background-color: rgb(74,112,222);
}


/* Forms
--------------------------------------------- */

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

.content input:focus,
.content textarea:focus {
  border: 1px solid #999;
}

::-moz-placeholder {
  color: #666;
}

::-webkit-input-placeholder {
  color: #666;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #1dbec0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}


/*
 * Blog comments
 */
/* Comments
--------------------------------------------- */

.form-submit {
  margin-top: 10px;
}
.reply {
  margin-top: 25px;
}
.vcard .fn {
  font-style: normal;
}
.comment-list .comment {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.10);
}
.comment-list {
  padding-left: 0px;
}
.comment-body p {
  clear: both;
  margin-top: 30px;
}
.vcard .avatar{
  margin-right: 10px;
}
#respond {
  margin-top: 30px;
}
.entry-comments,
.ping-list {
  margin-bottom: 60px;
}

.entry-comments .comment-author {
  margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.comment-content {
  word-wrap: break-word;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 24px;
  padding: 32px;
}

.comment-list li li {
  margin-right: -32px;
}

li.comment {
  background-color: #f5f5f5;
  border: 2px solid #fff; 
  border-right: none; 
}

.bypostauthor {
}

.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: 14px;
  padding: 24px;
}

.vcard img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
}

.vcard img:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 50px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
}


/*
 * Site Header
 */

.site-header {
  background-color: rgb(74,112,222);
  color: #fff;
  float: left;
  height: 100%;
  padding-top: 40px;
  position: fixed;
  text-align: center;
  width: 240px;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.site-header a,
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * Responsive Menu
 */

#responsive-menu-icon {
  cursor: pointer;
  display: block;
}


/*
 * Avatar
 */

.avatar {
  float: left;
}

.site-header .avatar,
.site-header .site-avatar img {
  border-radius: 50%;
  display: block;
  float: none;
  height: 112px;
  margin: 0 auto 24px;
  width: 112px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
}

.site-header .avatar:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 50px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
}


/*
 * Icons
 */

.simple-social-icons ul {
  margin: 0;
  padding: 0;
}

.simple-social-icons ul li {
  background: none !important;
  border: none !important;
  float: left;
  list-style-type: none !important;
  margin: 0 6px 12px !important;
  padding: 0 !important;
}

.simple-social-icons ul li a {
  border: none !important;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  height: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none !important;
  text-transform: none !important;
  width: 1em;
}

.simple-social-icons ul.aligncenter li {
  display: inline-block;
  float: none;
}


/*
 * Title Area
 */

.site-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  color: #fff;
  text-decoration: none;
}

.site-description {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 40px;
}


/*
 * Widget Area
 */

.header-widget-area .widget {
  margin-bottom: 40px;
  padding: 0 20px;
}

.header-widget-area .widget_nav_menu {
  padding: 0;
}

.site-header .simple-social-icons ul li {
  margin-bottom: 0 !important;
}


/*
 * Home featured
 */

.home-featured {
  margin-bottom: 2rem;
  padding: 5px;
  background: #cce7ff;
  text-align: center;
}
 
.home-featured .widgettitle {
  color: #333;
}


/*
 * Site Navigation
 */

.nav-menu {
  clear: both;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.nav-menu li {
  float: left;
  list-style-type: none;
  width: 100%;
}

.nav-menu a {
  background-color: none;
  color: #fff;
  display: block;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
}

.nav-menu a:hover,
.nav-menu .current-menu-item > a {
  background-color: #fff;
  color: #000;
}

.nav-menu .sub-menu {
  -webkit-backface-visibility: hidden;
  left: -9999px;
  margin: -50px 0 0 240px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition:    opacity .4s ease-in-out;
  -ms-transition:     opacity .4s ease-in-out;
  -o-transition:      opacity .4s ease-in-out;
  transition:         opacity .4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.nav-menu .sub-menu a {
  background-color: #000;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  color: #999;
  letter-spacing: 0;
  position: relative;
  width: 200px;
}

.nav-menu .sub-menu a:hover {
  color: #fff;
}

.nav-menu .sub-menu .sub-menu {
  margin: -50px 0 0 159px;
}

.nav-menu .menu-item:hover {
  position: static;
}

.nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  border-top: 2px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.clearfix {
  clear: both;
}


/*
 * Headings
 */

.entry-title,
.widgettitle {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-decoration: none;
}

.widgettitle a {
  text-decoration: none !important;
  color: #000 !important;
}

.entry-title {
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}

.entry-title a {
        color: #000;
  text-decoration: none;
}

.entry-title a:hover {
  color: #1dbec0;
}

.widgettitle {
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-header .widgettitle {
  color: #fff;
}

.search .archive-title {
  margin: -48px -60px 40px;
  padding: 20px 60px;
}


/*
 * Media Queries
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1280px) {

    .container {
      float: left;
      margin-left: 270px;
    }

    /*.blog-footer {
      margin-left: 240px;
    }*/
}

@media screen and (min-width: 767px) {
    #responsive-menu-icon {
      display: none;
    }
}

@media only screen and (max-width: 1279px) {

  .full-width-content .content,
  .site-header,
  .site-inner {
    width: 100%;
  }

  .content {
    width: 70%;
  }

  .sidebar-primary {
    width: 30%;
  }

  .site-header {
    float: none;
    /*height: auto; */
    padding-top: 20px;
    position: relative;
  }

  .title-area {
    margin-bottom: 20px;
  }

  .nav-menu {
    margin: 0 0 20px;
    text-align: center;
  }

  .nav-menu .menu-item {
    display: inline-block;
    text-align: left;
  }

  .nav-menu li {
    border: none;
    float: none;
    width: auto;
  }

  .nav-menu .sub-menu {
    margin: 0;
  }

  .nav-menu .sub-menu a {
    text-align: left;
  }

  .site-footer {
    display: none;
  }

  .sidebar {
    padding: 60px 60px 0;
  }

}

@media only screen and (max-width: 1023px) {

  .site-container {
    margin: 0 auto;
    max-width: 768px;
  }

  .sixteen-nine-landing .site-container {
    margin: 5%;
  }

  .content,
  .sidebar-primary {
    width: 100%;
  }

  .archive-description,
  .author-box,
  .breadcrumb {
    margin: 0 0 60px;
  }

  .search-form {
    float: none;
    margin: 0 auto;
    width: 50%;
  }

  .sidebar {
    padding: 60px 0 0;
  }

}

@media only screen and (max-width: 767px) {

  .site-title {
    font-size: 24px;
  }

  .title-area {
    margin-bottom: 0;
  }

  .header-widget-area .widget,
  .site-description {
    margin-bottom: 20px;
  }

  .site-header .widget-area {
    text-align: center;
  }

  .content,
  .sidebar {
    padding-left: 10%;
    padding-right: 10%;
  }

  .entry-title {
    font-size: 32px;
  }

  .enews-widget input,
  .enews-widget input[type="submit"],
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .search-form,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }

  .responsive-menu {
    display: none;
  }

  #fsb-social-bar {
    display:none;
  }

  .socialwrapper {
    display:block;
  }

  .breadcrumb {
    display:none;
  }
}

.sharrre:not(.linkedin) .count {
  display: none;
}

.sharrre:not(.linkedin):hover .share {
  opacity: 0.7;
}

.share-small .sharrre:not(.linkedin) .share,
.share-small .sharrre:not(.linkedin):hover .share {
  width: 65px;
  border-radius: 3px;
}